
// Some Margins Class


@import "mixins";
@import "variables";
@import "common";



body{
    background: #F4F4F4;
    font-family: $theme-font;
    overflow-x: hidden;
}

// CSS For Layout

.down{
    .header-slide{
        top: 0;
        @include translate(0,0);
    }
}

.header-slide{
    position: fixed;
    top: -5px;
    left: 0;
    right: 0;
    @include translate(0,-100%);
    -webkit-transition: -webkit-transform .4s linear;
    transition: .4s transform linear;
}

.header{
    background: $wcolor;
    @include box-shadow(0 0 4px #666);
    z-index: 50;

    .header-top{
        .content-wrapper{
            @include justify-content(space-between);
        }
        .logo{
            img{
                margin: 0 auto;
            }
        }
        .searchbox-holder{
            flex: 0.8;
            .searchbox{
                .form-control{
                    height: 42px;
                    border: 1px solid #ddd;
                    @include box-shadow(none);

                    @include placeholder{
                        color: #ddd;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }

                button{
                    height: 42px;
                    background: $theme-color;
                    border: 1px solid $theme-color;
                    @include box-shadow(none);
                    margin-left: 0;
                    
                    svg{
                        fill: $wcolor;
                    }

                    &:focus{
                        outline: 0;
                    }
                }
            }
        }
        .header-icon{
            position: relative;
            @include justify-content(flex-end);
            @include transition(all,0.3s,ease);

            div{
                position: relative;
                width: 110px;
                cursor: pointer;
                padding: 5px 0;
                text-align: center;
            }

            svg{
                g{
                    fill: $theme-color;
                }
            }
            .user{
                .user-icon{
                    svg{
                        fill: #898989;
                    }
                    span{
                        color: #898989;;
                        display: block;
                    }
                }
                .user-option{
                    position: absolute;
                    left: -90px;
                    width: 200px;
                    background: #333;
                    display: none;
                    padding: 0;
                    z-index: 50;

                    a:not(.register-link,.tbtn){
                        @include flexbox;
                        @include align-items(center);
                        color: $wcolor;
                        margin-top: 10px;
                        padding: 5px 15px;
                        text-transform: capitalize;

                        svg{
                            fill: $wcolor;
                            margin-right: 10px;
                        }

                        &:hover{
                            background: #222;
                        }
                    }

                    .register-link{
                        color: $wcolor;
                        display: block;
                        text-transform: capitalize;
                    }

                    .tbtn{
                        display: block;
                        margin: 10px 15px;
                        padding: 6px;
                        text-transform: capitalize;
                    }

                    hr{
                        margin-top: 10px;
                        margin-bottom: 10px;
                        border: 0;
                        border-top: 1px solid #898989;
                    }
                }

                &:hover{
                    .user-icon{
                        background: #333;
                    }
                    .user-option{
                        display: block;
                    }
                }
            }
        }
    }
    .header-bottom{
        background: $theme-color;
        .container{
            position: relative;
            .parentLink{
                display: inline-block;
                padding: 8px 20px;

                a{
                    color: $wcolor;
                    font-size: 13px;
                    font-weight: 400;
                    text-transform: capitalize;
                }

                .child-content{
                    position: absolute;
                    left: 0;
                    width: 100%;
                    margin-top: 8px;
                    background-color: #fff;
                    color: #666;
                    display: none;
                    padding: 4px 5px;
                    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.4);
                    z-index: 50;

                    .noLink{
                        color: $bcolor;
                        cursor: default;
                        display: block;
                        font-size: 13px;
                        font-weight: 500;
                        padding: 2px 5px;
                    }

                    a:not(.noLink){
                        color: #656565;
                        display: block;
                        font-size: 12px;
                        padding: 2px 5px;

                        &:hover{
                            background: #f1f1f1;
                            color: #666;
                        }
                    }

                    .grand-child-content{
                        max-height: 410px;
                        width: 150px;
                        @include flexbox;
                        @include flex-direction(column);
                        @include flex-wrap(wrap);
                        float: left;
                        padding: 0 10px 10px;

                        .menuLinkList{
                            margin-right: 10px;
                            margin-bottom: 5px;
                        }
                    }
                }

                &:hover{
                    background: $wcolor;
                    a{
                        color: $bcolor;
                    }
                    .child-content{
                        display: block;
                    }
                }
            }
        }
        .menu{
            .menu-items{
                position: relative;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                margin: 0;

                li{
                    display: inline-block;
                    margin: 0 20px;

                    a{
                        color: $bcolor;
                        font-size: 15px;
                        font-weight: 500;
                        text-transform: uppercase;
                        // @include transition(all,0.5s,ease);

                        &:hover{
                            color: $theme-color;
                        }
                    }
                }

                .has-dropdown{
                    .dropdown-content{
                        position: absolute;
                        top: 40px;
                        left: 0;
                        width: 100%;
                        background: $wcolor;
                        border-bottom: 1px solid #ddd;
                        @include flexbox;
                        @include justify-content(center);
                        visibility: hidden;
                        @include opacity (0);
                        padding: 15px 0;
                        text-align: center;
                        z-index: 100;
                        @include transition(all,0.5s,ease);
                    }

                    .child-content{
                        .grand-child-content{
                            li{
                                display: block;
                                margin: 5px 10px;

                                a{
                                    font-size: 13px;
                                    &:hover{
                                        color: $theme-color;
                                    }
                                }
                            }                         
                        }
                    }

                    &:hover{
                        .dropdown-content{
                            visibility: visible;
                            @include opacity(1);
                        }
                    }
                }
            }
        }
    }
}

.header-mobile{
    display: none;
}

.footer{
    border-top: 3px solid $theme-color;
    .footer-content{
        padding: 20px 0;
        .footer-header{
            color: $theme-color;
            font-size: 14px;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 10px;
            text-transform: capitalize;
        }
        p{
            color: $gcolor;
        }
        .footer-link{
            overflow: hidden;
            li{
                margin-bottom: 10px;
                a{
                    color: $gcolor;
                    text-transform: capitalize;
                    @include transition(all,0.5s,ease);
                }

                &:hover{
                    a{
                        color: $theme-color;
                    }
                }
            }
        }
        .social-link{
            a{
                color: $theme-color;
                display: inline-block;
                font-size: 18px;
                margin-right: 10px;

                &:hover{
                    @include translate(0,0);
                }
            }
        }
    }
}

.copyright{
    background: $theme-color;
    padding: 15px 0;

    .content-wrapper{
        .row{
            @include flexbox;
            @include align-items(center);
        }
    }

    p{
        color: $wcolor;
        margin-bottom: 0;

        span{
            text-transform: capitalize;
        }
    }
}

.scrollup{
    position: fixed;
    right: 12px;
    bottom: 135px;
    height: 40px;
    width: 40px;
    background: $theme-color;
    border: 0;
    border-radius: 100%;
    box-shadow: none;
    text-align: center;
    font-size: 25px;
    color: $wcolor;
    cursor: pointer;
    display: none;
    line-height: 52px;
    z-index: 25;

    svg{
        fill: $wcolor;
    }
    
    &:hover,
    &:focus{
        background: $theme-color;
        border: 2px solid $wcolor;
        @include box-shadow(0 1px 3px rgba(0,0,0,0.3));
    }
}

// **********************************

// CSS For Index Page

.home-slider{
    #homeCarousel{
        background: $wcolor;
        .carousel-indicators{
            position: unset;
            width: 100%;
            @include box-shadow(0 0 3px rgba(0,0,0,0.1));
            border-top: 1px solid #f4f4f4;
            margin-left: 0;
            margin-bottom: 0;
            padding-top: 10px;
            li{
                height: 50px;
                width: 150px;
                background: transparent;
                border: 0;
                border-radius: 0;
                text-indent: 0;
            }
            .active{
                height: 50px;
                width: 150px;
                background: transparent;
                border-bottom: 2px solid $theme-color;
            }
        }
    }
}
.home-categories{
    .content-wrapper{
        background: $wcolor;
        padding: 0;
    }
    .home-categories-header{
        border-bottom: 1px solid #f4f4f4;
        padding: 5px 15px;
        h4{
            font-size: 16px;                
        }
    }
    .home-categories-content{
        padding: 15px 15px 0;

        .category-box-slider{
            @include flexbox;
            @include flex-wrap(wrap);
        }

        .category-box{
            flex: 0 0 12.5%;
            margin-bottom: 15px;
            a{
                width: 100px;
                display: block;
                margin: 0 auto;
            }
            .image{
                @include box-shadow(0 2px 8px 0 rgba(0,0,0,0.06));
            }
            .name{
                font-size: 12px;  
                margin-top: 10px;
                text-transform: capitalize;
            }
        }
    }
}
.home-brands{
    .content-wrapper{
        background: $wcolor;
        padding: 0;
    }
    .home-brands-header{
        border-bottom: 1px solid #f4f4f4;
        padding: 5px 15px;
        h4{
            font-size: 16px;                
        }
    }
    .home-brands-content{
        .home-brands-slider{
            .slick-slide{
                margin: 15px;
            }
            .slick-prev{
                top: 40%;
                left: 0;
                z-index: 20;
            }
            .slick-next{
                top: 40%;
                right: 0;
                z-index: 20;
            }
            .slick-prev:before, 
            .slick-next:before{
                color: $bcolor;
            }
            .brand-box{
                margin: 15px 0 20px;
                text-align: center;
        
                a{
                    display: block;
                }

                img{
                    margin: 0 auto;
                }
        
                .name{
                    margin: 10px 0;
                    text-transform: capitalize;
                }
            }
        }
    }
}
.home-discount{
    .content-wrapper{
        background: $wcolor;
        @include flexbox;
        padding-top: 15px;
    }
    .discount-image{
        border-radius: 2px;
        margin-left: 15px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .discount-image:last-child{
        margin-right: 15px;
    }
}
.home-ad-banner{
    @extend .home-discount;
    .discount-image{
        border-radius: 0;
    }
}
.home-collection-slider{
    .home-collection-slider-content{
        position: relative;
        background: $wcolor;
        .left{
            position: absolute;
            top: 0;
            left: 0;
            width: 220px;
            height: 100%;
            background: #fafafa;
            @include flexbox;
            @include align-items(center);
            @include flex-direction(column);
            @include justify-content(center);
            padding: 10px;

            .text {
                font-size: 20px;
                font-weight: 400;
                margin: 15px 0;
                text-transform: capitalize;
            }

            .link{
                a{
                    background: $theme-color;
                    border-radius: 2px;
                    color: $wcolor;
                    padding: 6px 20px;
                    text-transform: capitalize;
                    @include transition(background,0.4s,linear);

                    &:hover{
                        background: darken($theme-color, 12%);
                    }
                }
            }
        }
        .right{
            padding-left: 220px;

            .next{
                right: 0;
            }
        
            .collection-slider{
                padding: 10px;
                .slick-slide{
                    margin-right: 10px;
                }
                .slick-arrow{
                    position: absolute;
                    top: 40%;
                    height: 50px;
                    background: #fafafa;
                    border: 0;
                    @include box-shadow(-1px 0 3px #c5c5c5);
                    cursor: pointer;
                    line-height: 70px;
                    z-index: 10;
                }
                .next{
                    right: 0;
                }
            }
        }
    }
}
.home-services{
    background: $wcolor;
    .content-wrapper{
        padding-top: 15px;
    }
    .home-services-content{
        @include flexbox;
    
        .service-box{
            flex: 0 0 25%;
            border-right: 1px solid #f4f4f4;
            padding: 20px 10px;
            text-align: center;
            .icon{
                svg{
                    fill: $theme-color;
                }                
            }
            .text{
                h4{
                    color: #505050;
                    font-size: 17px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                p{
                    color: #b7b7b7;
                    margin-bottom: 0;
                    text-transform: capitalize;
                }
            }
        }
        .service-box:last-child{
            border-right: 0;
        }
    }
}


// CSS For Collection Page

.collection{
    .collection-name{
        h2{
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .collection-header{
        .filter-sort-view-option{
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);

            .filter-option{
                cursor: pointer;
            }
            .sort-option{
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);
                flex: 0.2;

                select{
                    flex: 1;
                    height: 45px;
                    @include border-radius(0);
                    @include box-shadow(none);
                    cursor: pointer;
                    margin-left: 15px;
                }
            }
            .view-option{
                ul{
                    @include flexbox;
                    @include align-items(center);
                    li{
                        a{
                            background-color: transparent;
                            color: $bcolor;
                            @include flexbox;
                            @include align-items(center);
                            @include transition(all,0.5s,ease);

                            span{
                                margin-left: 15px;
                                text-transform: capitalize;
                            }

                            &:hover,
                            &:focus{
                                background-color: transparent;
                                color: $link-color;

                                svg{
                                    fill: $link-color
                                }
                            }
                        }
                    }
                    .active{
                        a{
                            background-color: transparent;
                            color: $link-color;
                            @include transition(all,0.5s,ease);

                            svg{
                                fill: $link-color
                            }

                            &:hover,
                            &:focus{
                                background-color: transparent;
                                color: $link-color;

                                svg{
                                    fill: $link-color
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .collection-content{
        padding: 30px 0;
    }
    .collection-filter{
        .filters{
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            width: 350px;
            background: $wcolor;
            padding: 20px;
            z-index: 100;
            @include transition(all,0.8s,ease);

            .filters-header{
                padding-bottom: 15px;
                text-align: right;

                .filter-close{
                    cursor: pointer;
                }
            }
        }
        .filters-overlay{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.25);
            cursor: pointer;
            visibility: hidden;
            @include opacity (0);
            z-index: 50;
            @include transition(all,0.5s,ease);
        }
    }
    .show-collection-filter{
        .filters{
            left: 0;
            @include transition(all,0.8s,ease);
        }
        .filters-overlay{
            visibility: visible;
            @include opacity(1);
            @include transition(all,0.5s,ease);
        }
    }
}

// CSS For Product Details Page

.product-details-page{
    padding: 15px 0;
    .product-image{
        background: $wcolor;
        padding: 15px;

        .thumb-control{
            img{
                height: 80px;
                margin-top: 10px;
                margin-right: 10px;
            }
        }
    }
    .product-details{
        .breadcrumb{
            margin-bottom: 10px;
        }
        .breadcrumb > li + li:before{
            content: "> ";
        }
        .col-md-6{
            padding-left: 0;
            padding-right: 0;
        }
        .product-description{
            background: $wcolor;
            padding: 15px;

            .name{
                @include justify-content(space-between);
                h4{
                    color: $gcolor;
                    font-weight: 400;
                    margin-top: 0;
                    text-transform: capitalize;
                }
                .icons{
                    svg:not(last-child){
                        margin: 0 5px;

                        g{
                            #fbbg{
                                fill: none;
                                @include transition(fill, 0.4s, ease);
                            }
                            #fbletter{
                                fill: #3b5998;
                                @include transition(fill, 0.4s, ease);
                            }
                            circle{
                                fill: none;
                                @include transition(fill, 0.4s, ease);
                            }
                            #twletter{
                                fill: #1da1f2;
                                @include transition(fill, 0.4s, ease);
                            }
                        }

                        &:hover{
                            g{
                                #fbbg{
                                    fill: #3b5998;
                                }
                                #fbletter{
                                    fill: $wcolor;
                                }
                                circle{
                                    fill: #1da1f2;
                                }
                                #twletter{
                                    fill: $wcolor;
                                }
                            }
                        }
                    }
                    #wishlist{
                        fill: #cccccc;
                        @include box-shadow(0 0 2px rgba(0,0,0,0.25));
                        border-radius: 50%;
                        padding: 3px;
                        @include transition(fill, 0.4s, ease);

                        &:hover{
                            fill: #C0392B;
                        }
                    }
                }
            }
            .rating-status{
                margin-bottom: 10px;
                svg{
                    margin-right: 2px;
                }
                .rating-count{
                    color: $gcolor;
                    font-size: 10px;
                    letter-spacing: 2px;
                    margin-left: 5px;
                }
            }
            .price{
                .old-price{
                    color: $gcolor;
                    font-size: 15px;
                    font-weight: 400;
                    display: block;
                    margin-bottom: 5px;
                }
                .current-price{
                    color: $bcolor;
                    font-size: 18px;
                    font-weight: 500;
                    @include opacity(0.7);
                }
                .off-tag{
                    padding: 2px 4px;
                    background: $theme-color;
                    color: $wcolor;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
            .variants{
                margin-top: 15px;
                .variant-title{
                    color: $gcolor;
                    font-size: 13px;
                    font-weight: 400;
                    text-transform: capitalize;
                }
                select {
                    /* Reset */
                    appearance: none;
                    border: 1px solid #cccccc;
                    outline: 0;
                    /* Personalize */
                    height: 40px;
                    padding: 0 4em 0 1em;
                    background: url(../images/caret-down.svg) no-repeat right 0.8em center / 1.4em, transparent;
                    color: $gcolor;
                    border-radius: 0.25em;
                    box-shadow: none;
                    cursor: pointer;
                    
                    /* Remove focus outline */
                    &:focus {
                      outline: none;
                    }

                    /* Remove IE arrow */
                    &::-ms-expand {
                      display: none;
                    }
                  }
            }
            .quantity-row{
                margin: 20px 0;
                label{
                    font-weight: 400;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }
                .quantity-box{
                    @include flexbox;

                    .btn-quantity{
                        height: 40px;
                        width: 40px;
                        background: $wcolor;
                        border: 1px solid #ccc;
                    }
                    .btn-quantity:first-child{
                        border-bottom-left-radius: 3px;
                        border-top-left-radius: 3px;
                    }
                    .btn-quantity:last-child{
                        border-bottom-right-radius: 3px;
                        border-top-right-radius: 3px;
                    }
                    .quantity-input{
                        flex: 0.06;
                        height: 40px;
                        border-right: 0;
                        border-left: 0;
                        @include border-radius(0);
                        @include box-shadow(none);
                        text-align: center;
                    }
                }
            }
            .cart-buttons{
                @include flexbox;
                button{
                    flex: 0.2;
                    border-radius: 3px;
                    margin-right: 10px;
                    padding: 10px 0;
                    text-transform: capitalize;
                }
            }
        }
    }
    .related-products{
        padding: 20px 0;

        .related-products-header{
            h3{
                text-transform: capitalize;
            }
        }
        .related-products-content{
            background: $wcolor;
            padding: 20px;
            .related-product-slider{
                .slick-slide{
                    margin: 10px;
                }
                .slick-prev{
                    left: -15px;
                    z-index: 10;
                }
                .slick-next{
                    right: -15px;
                    z-index: 10;
                }
                .slick-prev:before, 
                .slick-next:before{
                    color: $bcolor;
                }
            }
        }
    }
}
.zoomLens{
    display: none !important;
}

// CSS For Cart Modal

#cartModal{
    top: 100px;
    .modal-dialog{
        width: 75%;

        .modal-content{
            border: 0;
            border-radius: 2px;
            box-shadow: none;

            .modal-header{
                padding: 8px 15px;
                .modal-title{
                    font-size: 22px;
                    font-weight: 400;
                }
                .item-count{
                    color: $gcolor;
                }
                .close{
                    font-size: 35px;
                    font-weight: 300;
                    @include opacity(0.5);
                    text-shadow: none;
                }
            }
            .modal-body{
                height: 300px;
                padding: 0;
                .cart-content{
                    .cart-item-header{
                        border-bottom: 2px solid #ddd;
                        padding: 10px 15px;
                        .cart-item-header-title{
                            font-size: 15px;
                            text-transform: capitalize;
                        }
                    }
                    .cart-item-content{
                        .cart-item{
                            border-bottom: 1px solid #ddd;
                            padding: 10px 15px;

                            .row{
                                @include flexbox;
                                @include align-items(center);
                            }
            
                            .item-image-name{
                                @include flexbox;
            
                                .item-image{
                                    width: 150px;
                                    padding-right: 30px;
                                }
                                .item-name{
                                    padding-right: 30px;
            
                                    a{
                                        color: $link-color;
                                    }
                                }
                            }
                            .item-quantity{
                                .quantity-box{
                                    width: 115px;
                                    @include flexbox;
                
                                    button{
                                        height: 42px;
                                        width: 42px;
                                        background: $wcolor;
                                        border: 1px solid #ccc;
                                        @include border-radius(0);
                                        padding: 0 8px;
            
                                        svg{
                                            fill: $theme-color;
                                        }
                                    }
                                    .minus{
                                        border-right: 0;
                                    }
                                    .plus{
                                        border-left: 0;
                                    }
                                    .cart-quantity-input{
                                        height: 42px;
                                        border-left: 0;
                                        border-right: 0;
                                        @include border-radius(0);
                                        @include box-shadow(none);
                                        text-align: center;
                                    }
                                }
                            }
                            .cart-item-header-title{
                                @include flexbox;
                                @include align-items(center);
                                @include justify-content(space-evenly);

                                .item-remove-button {
                                    width: 25px;
                                    height: 25px;
                                    background: $wcolor;
                                    border: 1px solid #ddd;
                                    border-radius: 50%;
                                    line-height: 28px;
                                    text-align: center;
                                    @include transition(all,0.4s,linear);

                                    &:hover{
                                        background: red;
                                        border: 1px solid red;

                                        a{
                                            color: $wcolor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer{
                background: #f5f5f5;
                padding: 0;
                .cart-item-footer{
                    border-bottom: 1px solid #e5e5e5;  
                    margin-bottom: 10px;
                    padding: 10px 15px;  
                    .subtotal{
                        padding: 10px 50px;

                        h4{
                            font-weight: 400;
                            margin: 0;
                            text-align: right;
                            text-transform: capitalize;
                        }
                    }
                }
                .cart-buttons{
                    padding: 10px 15px;
                    text-align: right;
                    a{
                        display: inline-block;
                        font-size: 15px;
                        margin-left: 10px;
                        padding: 9px 13px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

//CSS For Cart Page

.cart-page{
    padding: 50px 0;
    .cart-page-header{
        margin-bottom: 30px;
        h2{
            margin-top: 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .cart-page-content{
        .cart-item-header{
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
            .cart-item-header-title{
                font-size: 15px;
                text-transform: capitalize;
            }
        }
        .cart-item-content{
            .cart-item{
                border-bottom: 1px solid #ddd;
                padding: 20px 0;

                .item-image-name{
                    @include flexbox;

                    .item-image{
                        width: 150px;
                        padding-right: 30px;
                    }
                    .item-name{
                        padding-right: 30px;

                        a{
                            color: $link-color;
                        }
                    }
                }
                .item-quantity{
                    .quantity-box{
                        width: 115px;
                        @include flexbox;
    
                        button{
                            height: 42px;
                            width: 42px;
                            background: $wcolor;
                            border: 1px solid #ccc;
                            @include border-radius(0);
                            padding: 0 8px;

                            svg{
                                fill: $theme-color;
                            }
                        }
                        .minus{
                            border-right: 0;
                        }
                        .plus{
                            border-left: 0;
                        }
                        .cart-quantity-input{
                            height: 42px;
                            border-left: 0;
                            border-right: 0;
                            @include border-radius(0);
                            @include box-shadow(none);
                            text-align: center;
                        }
                    }
                }
                .item-remove-button{
                    margin: 10px 0;
                    a{
                        width: 115px;
                        color: $theme-color;
                        @include flexbox;
                        @include align-items(center);
                        @include justify-content(center);
                        text-transform: capitalize;

                        svg{
                            fill: $theme-color;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .cart-item-footer{
            float: right;

            .subtotal{
                margin-bottom: 20px;
                h2{
                    text-align: right;
                    text-transform: uppercase;
                }
            }
            .cart-buttons{
                text-align: right;
                a{
                    display: block;
                    margin: 15px 0;
                }
                a:not(.tbtn){
                    color: $theme-color;
                    text-transform: capitalize;
                    @include transition(all, 0.5s, ease);

                    &:hover,&:focus{
                        color: $link-color;
                        @include transition(all, 0.5s, ease);
                    }
                }
            }
        }
    }
}
